/*公共头部CSS*/
.achead{
    background-color: #fff;
}
.achead ul {
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    /*text-align: center;*/
    float: left;
    border-bottom: 2px solid #ccc;
}
.achead ul .les{
    margin-left: 10%;
}
.achead ul li {
    float: left;
    height: 110px;
    width: 25%;
    margin: 20px 30px 20px 30px;
    padding: 0 30px 0 30px;
    border-right: 1px #ddd solid;
    overflow: hidden;
}
.achead ul li img {
    width: 110px;
    float: left;
    margin-right: 20px;
}
.achead ul li h4 {
    color: #3089a8;
    font-size: 18px;
}
.achead ul li p {
    color: #C36;
    font-size: 22px;
}
.achead ul li span {
    color: #888;
    display: block;
}
.achead ul li span {
    color: #888;
    display: block;
}
/*公共头部结束*/

/*联系我们CSS*/
body {
    /*background: #ccc;*/
    color: #555;
}
.hengqie {
    width: 1030px;
    clear: both;
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    text-align: left;
    /*background-color: red;*/
}
.lxLOGO {
    width: 1030px;
    height: 184px;
    margin: auto;
}
.service_h {
    float: left;
    width: 120px;
    height: 90px;
    background-color: #86CFE1;
    color: #fff;
    font-size: 20px;
    line-height: 90px;
    font-weight: bold;
    margin-left: 70px;
    text-align: center;
}

#newsbody {
    width: 970px;
    height: 345px;
}
#newsbody body {
    line-height: 2;
}
.body {
    width: 970px;
    height: 335px;
}
.fs14 {
    font-size: 14px;
}
.service_box {
    margin-bottom: 15px;
}
.of  {
    overflow: hidden;
}
.f1 {
    display: inline;
    zoom: 1;
    float: left;
}
.service_m {
    float: right;
    width: 750px;
    font-size: 18px;
}
.service_h {
    float: left;
    width: 120px;
    height: 90px;
    background-color: #86CFE1;
    color: #fff;
    font-size: 20px;
    line-height: 90px;
    font-weight: bold;
    margin-left: 65px;
    text-align: center;
}
.service_m p {
    height: 87px;
    line-height: 87px;
    font-size: 30px;
    border-bottom: 3px #86CFE1 solid;
    padding-left: 15px;
    color: #777;
}
.service_m p span {
    font-size: 40px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.fr {
    float: right;
}
.mt {
    margin-top: 20px;
}
.big-box {
    width: 100%;
    height: 100%;
    background-color: #eee;
    margin: 0 auto;
    padding-top: 35px;
}
.bao {
    width: 1030px;
    height: 1130px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
    /*background: red;*/
}
.box1 {
    width: 1030px;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
}
.block16 {
    height: 0.1px;
    overflow: hidden;
    clear: both;
}
.smbox {
    width: 810px;
    background-color: #FFD2FF;
    margin: 0 auto;
    border: 3px #999 dashed;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    padding: 20px;
}
.zhifu {
    width: 930px;
    margin: 0 auto;
}
.zhifu tr td {
    font-size: 20px;
    border: 1px #ccc solid;
    text-align: center;
    padding: 0 10px;
    height: 90px;
    line-height: 90px;
}
.end-div {
    background-color: #eee;
}
.end-div img  {
    width: 600px;
    height: 200px;
    margin-left: 220px;
}
.div-end {
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid blue;
    background-color: #eee;
    text-align: center;
    color: #f00;
}
.ad {
    position: fixed;
    bottom: 0;
    right: 0;
}
.ad span img {
    width: 300px;
    height: 200px;
    opacity: .3;
}
.end-div:hover img {
    transform: rotate(360deg);
    transition: all 2s;
    transform:translate(100px,0)
}

/*bye*/
#box {
    width: 602px;
    height: 302px;
    margin: 100px auto;
    border: 1px solid #000;
}
#box ul {
    width: 100%;
    height: 100%;
    list-style: none;
}
#box ul li {
    float: left;
    width: 100px;
    height: 100px;
    background: url("../images/hello.jpg") no-repeat;
    position: relative;
}


/* MY TEAM */
.about_cont {
    width: 100%;
}
#team_cont {
    position: relative;
    display: flex;
    margin-bottom: 50px;
}
.wd1350 {
    width: 1350px;
    max-width: 80%;
    margin: 0 auto;
}
#team_cont h6 {
    position: absolute;
}
#team_cont .left_nav {
    width: 125px;
    display: block;
    position: absolute;
    margin-top: 78px;
    z-index: 1;
}

.left_nav ul .in {
    color: #b60000;
}
#team_cont .left_nav li:before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px solid #999;
    border-radius: 10px;
    margin: 0 5px;
}
#team_cont .left_nav li {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    /*color: #999;*/
}
#right_banner {
    width: 1225px;
    position: relative;
    left: -1%;
}
.syslideBox {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
#team_cont .syslideBox {
    width: 100%;
}
#team_cont .syslideBox .left_scroll {
    width: 175px;
    max-width: 14.3%;
}
.syslideBox .left_scroll {
    margin-top: 50px;
    position: relative;
    width: 300px;
    height: 534px;
    max-width: 22%;
}
.syslideBox .left_scroll .left_img ul li a:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 142px;
    height: 112px;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    z-index: 15;
}
.syslideBox .left_scroll .prev {
    top: 10px;
}
.syslideBox .left_scroll .prev,
.syslideBox .left_scroll .next {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 27px;
    height: 15px;
    background: url(../images/controls3.png) 0 0 no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.7;
}
.syslideBox .left_scroll .left_img {
    overflow: hidden;
    width: 100%;
    height: 448px;
    position: absolute;
    margin: 40px auto 0;
}
.syslideBox .left_scroll .next {
    bottom: 10px;
    background-position: 0 -15px;
}

#team_cont .syslideBox .right_scroll {
    width: 1050px;
    max-width: 85.7%;
}
.syslideBox .right_scroll {
    position: relative;
    z-index: 0;
    width: 1050px;
    max-width: 78%;
}
.syslideBox .right_scroll li {
    zoom: 1;
    vertical-align: middle;
}
.syslideBox .right_scroll img {
    width: 100%;
    height: auto;
    display: block;
}