/*
*banner
*/
.top_photo{
    width: 100%;
    height: 600px;
}
.top_photo img{
    width: 120%;
    height: 100%;
    margin-left: -10%;
}
/*
*朋友圈晒图
*/
.haoping_photo{
    text-align: center;
    width: 100%;
    background: #F3F3F3;
}
.ga_wrap{
    margin: 0 auto;
    width: 1200px;
}
.ga_wrap span{
    display: block;
    width: 100%;
    height: 50px;
}
.ga_wrap a{
    margin: 10px 8px;
    display: inline-block;
}
.ga_wrap a img{
    width: 200px;
    height: 200px;
}


/*面板*/
.panel {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    /*opacity: 0.5;*/
    z-index:2;
}
/*面板*/
.panel-main {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}
.panel-main img{
    width: 300px;
    height: 300px;
}
.panel .v-zhixiang{
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -40%;
    width: 80%;
    height: 80px;

}
.panel .v-zhixiang img{
    width: 100px;
    height: 80px;
    cursor: pointer;
}
.panel .v-left{
    float: left;
    opacity: 0;
    transition: all 1s;
}
.panel .v-right{
    float: right;
    opacity: 0;
    transition: all 1s;
}
.panel:hover .v-left,.panel:hover .v-right{
    opacity: 0.8;
}
.panel .v-click{
    position: absolute;
    right: 20px;
    top: 100px;
}
.panel .v-click img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.jump {
    animation: jump 3s ease;
}
@keyframes jump {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    65% {
        opacity: 1;
        width: 200px;
        height: 200px;
    }
    75% {
        opacity: 1;
        width: 300px;
        height: 300px;
    }
    95% {
        opacity: 1;
        width: 280px;
        height: 280px;
    }
    100% {
        opacity: 1;
        width: 300px;
        height: 300px;
    }
}
