* {
    margin: 0;
    padding: 0;
}
.youhui2018big {
    width: 1000px;
    margin: 10px auto 30px auto;
    position: relative;
}
.youhui2018 {
    width: 1000px;
    margin: 40px auto 40px auto;
}
.youhui2018 img {
    width: 1000px;
    height: 469px;
}
.youhui2018:hover img,.youhui2018 div {
    transition: all 2s;
    color: red;
    transform:rotate(1deg) scale(1.02) !important;
}
.youhui2018box,.youhui2018box1,.youhui2018hot {
    height: 60px;
    border-bottom: 2px #7BCEEC solid;
    background-color: #fff;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
}
.span1,.span2 {
    width: 150px;
    height: 300px;
    display: inline-block;
    background: url("../images/guang1.jpg");
    position: fixed;
    top: 150px;
    /*margin-top: -150px;*/
}
.span1 img {
    width: 100%;
    height: 100%;
    float: right;
}
.span2 img {
    width: 100%;
    height: 100%;
    float: right;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
body {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.star {
    width: 30px;
    height: 30px;
    background: url("../images/star.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: move 2s linear infinite alternate;
    transition: all 1s;
}
.star:hover {
    transform: rotate(180deg) scale(2) !important;
}
@keyframes move {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

